$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.product-filter{
    @media (max-width: $breakpoint-md) {
        height: 0px;
        width: 0px;
        padding: 0px !important;
        overflow: hidden;

        &.collapsed {
            height: auto;
            width: 100%;
        }
    }

    

    mv-slider{
        ::ng-deep {
            .slider-horizontal{
                width: 90%;
            }
            .slider-track{
                height: 6px;
                margin-top: -3px;
            }
            .slider-selection{
                background-image: linear-gradient(to bottom, #2e2f30 0, #8a8888 100%);
            }
            .slider-handle{
                background-image: linear-gradient(to bottom, #595c5f 0, #2e2f30 100%);
            }
        }
    }

    .filter-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slider-label{
        font-size: 14px;
    }

    .rating-conatiner{
        display: flex;
        align-items: center;
        .slider-label{
            margin-top: 3px;
        }
    }
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10000;
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 4px 10px;
    font-size: 1.3rem;
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }

